@model IEnumerable<PropertyAdministration.Application.AppModels.HOMEIndexViewModel>
@*<img src="https://raw.githubusercontent.com/pg0408/frontend-demo/master/statue.JPG" alt="a picture"  width="100%">*@
<div class="row">

    <div class="col-md-8 redHighlight">
        <h2>In Arrears</h2>
    </div>
    <div class="col-md-4 ">
        <partial name="_HousesSearch" model="Model" />
    </div>
</div>
@await Html.PartialAsync("_MsgSuccessFail", Model)

<partial name="_Houses" model="Model" />

@section Scripts {
    <script type='text/javascript'> 
        var sUrl = mtpApp.Urls.baseUrl + "/Home/Index"; 
        housesController.init(sUrl); 
    </script>

}
