@model IEnumerable<HOMEIndexViewModel>

<h2 class="redHighlight">In Arrears </h2> 
<ul class="houses">
    @foreach (var item in Model )
    {
        <partial name="_HouseList" model="item" />

    }
</ul>
