@model IEnumerable<PropertyAdministration.Application.AppModels.HOMEIndexViewModel>
<div class="row" id="top-row">
    <div class="col-md-8">
        <h2>All Properties</h2>
    </div>

    <div class="col-md-4 ">
        <partial name="_HousesSearch" model="Model" /> 
        
    </div>
</div>

@await Html.PartialAsync("_MsgSuccessFail", Model)
 
<partial name="_Houses" model="Model" />
@section Scripts {
    <script type='text/javascript'>
        var sUrl = mtpApp.Urls.baseUrl + "/House/Index";  
        housesController.init(sUrl);

            //var mySearchingUrl = mtpApp.Urls.baseUrl + "Index";
                //$(document).ready(function (e) {mtpApp

                //    $("#search-btn").click(function () {
                //        alert("n2");
                //        var mySearchTerm = $('#search-text').val();
                //        alert(mySearchTerm);
                //        $.get(mySearchingUrl, { searchTerm: mySearchTerm })
                //            .done(function () {
                //                $('#housesListing')
                //                    .html(data);
                //            })
                //            .fail(function (data) {
                //                alert("Something Failed!!");
                //            })
                //    });
                //}
                //);
    </script> 
}


