@model PropertyAdministration.Application.AppModels.InvoiceNewViewModel
    <form asp-action="Create" method="post" class="form-horizontal" role="form">

        <h2>Create a new Invoice</h2>

        <div asp-validation-summary="All" class="text-danger"></div>

        @*@Html.HiddenFor(model => model.HouseId)*@
 

        <div class="form-group">
            <label asp-for="HousesList" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select asp-for="HouseId" class="form-control"
                        asp-items="Model.HousesList"></select>
            </div>
        </div>
        

        <div class="form-group">
            <label asp-for="Invoice.InvoiceDate" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Invoice.InvoiceDate" class="form-control" />
                <span asp-validation-for="Invoice.InvoiceDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Invoice.Amount" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Invoice.Amount" class="form-control" />
                <span asp-validation-for="Invoice.Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Invoice.Description" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Invoice.Description" class="form-control" />
                <span asp-validation-for="Invoice.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Invoice.IsPaid" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input asp-for="Invoice.IsPaid" onchange="checkSelection()" class="form-control" />
                <span asp-validation-for="Invoice.IsPaid" class="text-danger"></span>
            </div>
        </div>
        <div id="showDivtype" style="display:block">
            <div class="form-group">
                <label asp-for="Invoice.DatePaid" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Invoice.DatePaid" class="form-control" />
                    <span asp-validation-for="Invoice.DatePaid" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <select class="form-control">
                    <option value="one">One</option>
                    <option value="two">Two</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-primary" value="Save Invoice" /> |
                <a asp-action="Index" asp-route-id="@Model.HouseId">Back to List</a>
            </div>
        </div>
    </form>
@section Scripts {
    <script>
        $(function () {
            checkSelection();
        });
        function checkSelection(e) {
            var checkedItem = $('#IsPaid').is(":checked");
            if (checkedItem == false) {
                $("#showDivtype").hide();
            } else {
                $("#showDivtype").show();
            }
        };
    </script>
}
